http:
  routers:
    copilot-api:
      rule: {{ rule }}
      entryPoints:
        - web
      service: copilot-api-lb

  services:
    copilot-api-lb:
      weighted:
        services:
{% for s in services %}
          - name: {{ s.name }}@docker
            weight: 1
{% endfor %}
